// small to large handset
$screen-xs-max: 599px;

// small to medium tablet
$screen-sm-min: 600px;

// large tablet to laptop
$screen-md-min: 960px;

// desktop
$screen-lg-min: 1264px;

// 4k and ultra-wides
$screen-xl-min: 1904px;
